body {
  font-size: 16px;
  line-height: 22px;
  font-family: Roboto;

  color: #ffffff;
  background-color: #849d8f; /* TODO */
}

h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.catalog-item-picture {
   border-radius: 50%;
}

.hit-mark {
  display: block;
  width: 61px;
  height: 61px;

  font-size: 0;

  background-image: url(../img/hit.png);
}

.btn-social {
  display: inline-block;
  width: 29px;
  height: 29px;

  font-size: 0;

  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 3px solid #c2cec7;
  border-radius: 50%;
}

.btn-social-twitter {
  background-image: url(../img/social-twitter.png);
}

.btn-social-instagram {
  background-image: url(../img/social-insta.png);
}

.btn-social-fb {
  background-image: url(../img/social-fb.png);
}

.btn-social-vk {
  background-image: url(../img/social-vk.png);
}
