/* * {
  outline: 1px solid brown;
} */

html {
  background-color: #ffffff;
}

body {
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;

  color: #ffffff;
  background-color: #849d8f;

  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

a {
  color: #ffffff;
}

ul { /* TODO: */
  margin-top: 0;
  margin-bottom: 0;
}

.btn {
  font-size: 18px;
  font-weight: bold;
  color: #fefefe;
  line-height: 24px;
  text-align: center;
  border-radius: 25px;
  border: none;
  padding: 10px 20px 12px 20px;
  background-color: #e95038; /* TODO gradient, shadow*/
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  background-color: #f38367; /* TODO gradient, shadow*/
}

.btn:active {
  background-color: #f38367; /* TODO gradient, shadow*/
}

.header-btn {
  display: block;
	font-size: 14px;
	background-color: #b0c0b7;
	border-radius: 20px;
  text-decoration: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

header, footer {
  width: auto;
  padding: 0 2.3%;
  margin: 0;
}

main {
  width: auto;
  margin: 0;
}

header {
  padding-top: 10px;
}

main {
  position: relative;
}

.main-menu {
  float: left;
  margin: 0;
  padding: 0;
}

.user-block {
  float: right;
  margin: 0;
  padding: 0;
}

.main-menu .logo {
  float: left;
  margin-left: -6px;
}

.main-menu-ul {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 15px;
  margin-top: 12px;
  font-size: 0;
}

.main-menu-ul > li {
  display: inline-block;
  position: relative;
  font-size: 16px;
}

.main-menu-ul > li > a {
  display: block;
  /*font-weight: bold;*/
  padding: 6px 14px 6px 13px;
  margin-right: 1px;
}

.main-menu-ul > li:hover > a {
  background-color: #f7f6f3;
  color: #000000;
  border-radius: 20px;
}

.main-menu-ul li .submenu {
  display: none;
  position: absolute;
  z-index: 10;
  width: 143px;
  left: -7px;
  margin: 0;
  padding: 0;
}

.main-menu-ul li:hover .submenu {
  display: block;
}

.submenu-ul {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  list-style: none;
  background-color: #f7f6f3;
  border-radius: 5px;
}

.submenu-ul li {
  padding-top: 5px;
}

.submenu-ul li:last-child {
  padding-bottom: 5px;
}

.submenu-ul a {
  display: block;
  font-weight: normal;
  padding: 6px 14px 6px 13px;
  color: black;
  margin-right: 1px;
  font-size: 14px;
  text-decoration: none;
}

.submenu-ul .active, .submenu-ul .active:hover, .submenu-ul .active:active {
  background-color: #d07058;
  color: #ffffff;
  cursor: default;
}

.submenu-ul a:hover {
  background-color: #fbded7;
}

.submenu-ul a:active {
  background-color: #f6b5a5;
}

.submenu-ul .catalog-popup-marked {
  font-weight: bold;
}

.user-block {
  margin-top: 13px;
}

.user-block input {
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.user-block input:hover {
  box-shadow:0 0 0 1px #c7c6c5;
  border-color: #c7c6c5;
}

.user-block input:focus {
  box-shadow:0 0 0 1px #8fbdec;
  border-color: #8fbdec;
}

.search {
  position: relative;
  float: left;
  border-radius: 50%;
  margin-right: 10px;
}

.search a {
  display: block;
  font-size: 0;
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url(../img/menu-lens.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.search .search-popup {
  display: none;
  position: absolute;
  padding-top: 5px;
  top: 32px;
  right: 0;
  z-index: 10;
}

.search .search-popup form {
  margin: 0;
  /* margin-top: 37px; */
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
}

.search-popup form input {
  padding: 15px 20px;
}

.search:hover a {
  color: #000000;
  background: #ffffff url(../img/menu-lens-hover.png) no-repeat 50% 50%;
}

.search:hover .search-popup {
  display: block;
}


.login-container {
  position: relative;
  float: left;
  margin-right: 10px;
}

/*.cart > a {
  display: block;
  font-size: 14px;
  line-height: 1;
  padding: 9px 34px 9px 44px;
  background-color: rgba(255, 255, 255, 0.2);
}

.cart > a:before {
  position: absolute;
  top: 6px;
  left: 16px;
  display: block;
  content: '';
  width: 21px;
	height: 20px;
}*/

.login-container > a {
  display: block;
  font-size: 14px;
  line-height: 1;
  padding: 9px 16px 9px 44px;
  background-color: rgba(255, 255, 255, 0.2);
}

.login-container > a:before {
  position: absolute;
  display: block;
  top: 6px;
  left: 16px;
  content: '';
  width: 21px;
	height: 19px;
  background: url(../img/menu-enter.png) no-repeat 50% 50%;
}

.login-container .login-popup {
  display: none;
  position: absolute;
  padding-top: 5px;
  top: 32px;
  right: 0;
  z-index: 10;
}

.login-container .login-popup form {
  margin: 0;
  /* margin-top: 37px; */
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
}

.login-popup form input {
  width: 200px;
  padding: 15px 20px;
  margin-bottom: 15px;
}

.login-popup .btn {
  float: left;
}

.login-popup a {
  color: #000000;
  font-size: 14px;
  line-height: 16px;
  padding-left: 10px;
  vertical-align: middle;
}

.login-container:hover > a {
  color: #000000;
  background-color: #ffffff;
}

.login-container:hover > a:before {
  background: url(../img/menu-enter-hover.png) no-repeat 50% 50%;
}

.login-container:hover .login-popup {
  display: block;
}

.cart {
  position: relative;
  float: left;
}

.cart > a {
  display: block;
  font-size: 14px;
  line-height: 1;
  padding: 9px 34px 9px 44px;
  background-color: rgba(255, 255, 255, 0.2);
}

.cart > a:before {
  position: absolute;
  top: 6px;
  left: 16px;
  display: block;
  content: '';
  width: 21px;
	height: 20px;
}

.cart-empty > a:before {
  background: url(../img/menu-cart-empty.png) no-repeat 50% 50%;
}

.cart-filled > a:before {
  background: url(../img/menu-cart.png) no-repeat 50% 50%;
}

.cart-filled .cart-popup {
  display: none;
  position: absolute;
  padding-top: 5px;
  top: 32px;
  right: 0;
  z-index: 10;
}

.cart-filled .cart-popup form {
  margin: 0;
  /* margin-top: 37px; */
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
}

.cart-filled form input {
  padding: 15px 20px;
}

.cart-filled:hover > a {
  color: #000000;
  background-color: #ffffff;
}

.cart-filled:hover .cart-popup {
  display: block;
}

.info {
  position: absolute;
  right: 2.3%;
  top: -5px;
  width: 200px;
  text-align: right;
}

.work-hours {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
}

.phone {
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
}

.slider-btn {
  display: none;
}

.slider-container {
  position: relative;
  height: 573px; /* TODO */
	text-align:center;
  /*padding: 0 2.3%;*/
  margin: 0 2.3%;
}

.slider-controls {
  position: absolute;
  bottom: 52px;
  left: 0;
  z-index: 10;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  margin-right: 8px;
}

.slider-controls label:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.slide-title {
  position: absolute;
  bottom: 135px;
  display: none;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

#btn-1:checked~.page-wrapper .slider-controls label[for=btn-1],
#btn-2:checked~.page-wrapper .slider-controls label[for=btn-2],
#btn-3:checked~.page-wrapper .slider-controls label[for=btn-3] {
	background-color: #ffffff;
}

#btn-1:checked~.page-wrapper {
	background: #849d8f url(../img/slide1.png) no-repeat 50% 0;
}

#btn-2:checked~.page-wrapper {
  background: #8996a6 url(../img/slide2.png) no-repeat 50% 0;
}

#btn-3:checked~.page-wrapper {
  background: #9d8b84 url(../img/slide3.png) no-repeat 50% 0;
}

#btn-1:checked~.page-wrapper .slide-title-1 {
	display: block;
  z-index: 10;
}

#btn-2:checked~.page-wrapper .slide-title-2 {
	display: block;
  z-index: 10;
}

#btn-3:checked~.page-wrapper .slide-title-3 {
	display: block;
  z-index: 10;
}

.slider-container a {
  display: inline-block;
  margin-top: 470px;
  font-size: 32px;
  line-height: 44px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 50px;
}

.special-offer-list {
  margin: 0 2.3%;
}

.special-offer-container-left, .special-offer-container-right{
  box-sizing: border-box;
  width: 48.9%;
  height: 229px;
  border-radius: 15px;
  padding-top: 18px;
  padding-left: 18px;
  padding-right: 20px;
}

.special-offer-container-left {
  float: left;
  background: #b91d4b url(../img/bg-rapsberry.jpg) no-repeat 0 0;
}

.special-offer-container-right {
  float: right;
  background: #5b351e url(../img/bg-chocolate.jpg) no-repeat 0 0;
}

.special-offer-title {
  font-size: 35px;
  line-height: 1;
  font-weight: bold;
}

.special-offer-text {
  min-height: 70px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.special-offer-btn {
  display: inline-block;
  float: right;
  padding-left: 22px;
  padding-right: 22px;
}

.hit-list {
  font-size: 0;
  padding-top: 35px;
}

.catalog-item {
  display: inline-block;
  width: 293px;
  font-size: 16px;
}

.catalog-item-price {
  font-size: 45px;
  font-weight: bold;
}

.catalog-item-picture {
  border-radius: 50%;
}

.img-ruble {
  display: inline-block;
}

.hit-mark {
  position: absolute;
  z-index: 3;
  display: block;
  width: 61px;
  height: 61px;

  font-size: 0;

  background-image: url(../img/hit.png);
}


.catalog-container {
  outline: 1px solid green;
}


.catalog-filter {
  display: block;
  min-height: 135px;
  margin: 0 2.3%;
  
  outline: 1px solid brown;
}

.catalog-filter-top {

}

.catalog-filter-sort {
  min-width: 193px;
  min-height: 60px;  

  outline: 1px solid green;

  float: left;
  margin-right: 15px;  
}

.catalog-filter-price {
  min-width: 220px;
  min-height: 60px;
  
  outline: 1px solid green;
  
  float: left;
  margin-right: 15px;
}

.catalog-filter-fat-content {
  min-width: 415px;
  min-height: 60px;
  
  outline: 1px solid green;
  
  float: left;
}

.catalog-filter-bottom {
  position: relative;
}

.catalog-filter-fillers {
  min-width: 702px;
  min-height: 67px;
  
  outline: 1px solid green;
  
  float: left;
  margin-right: 15px;
} 

.filter-btn {
  min-width: 145px;
  min-height: 37px;
  
  position: absolute;
  bottom: 0;
}











.catalog-items-list {
  font-size: 0;
  outline: 1px solid red;
}

.catalog-item {
  position: relative;
  z-index: 1;
  display: inline-block;
  min-width: 199px;
  width: 22.2%;
  max-width: 266px;
  text-align: center;
  font-size: 16px;
  vertical-align: top;
  padding: 0;
  padding-top: 5px;
  margin-bottom: -65px;
  border-radius: 5px; 
  margin-right: 2.2%;
}

.catalog-item:nth-child(4n) {
  margin-right: 2.3%;
}

.catalog-item:nth-child(4n+1) {
  margin-left: 2.3%;
}

.catalog-item-picture {
  position: relative;
  border-radius: 50%;
  min-width: 199px;
  max-width: 266px;
  width: 100%;
  height: auto;
  z-index: 2;
}

.catalog-item-price {
  position: absolute;
  z-index: 2;
  top: 50%;
  
}

.catalog-item-title {
  position: relative;
  display: block;
  z-index: 2;  
  min-height: 45px;
}

.catalog-item-popup {
  position: absolute;
  top: 0;
  left: -4.9%;
  width: 110%;
  height: 470px;
  background-color: rgba(255, 255, 255, 0.3);
  display: none;
  border-radius: 5px;
  z-index: 2;
}

.catalog-items-list .catalog-item:hover .catalog-item-popup {
  display: block;
}

.catalog-items-list .catalog-item:not(:hover)  {
	z-index: 0;
}

.catalog-item .btn {
  position: relative;
  /*display: none;*/
  display: block;
  visibility: hidden;
  margin-bottom: 10px;
  z-index: 3;
}

.catalog-items-list .catalog-item:hover .btn {
  visibility: visible;
  z-index: 4;
  /*display: block;*/
}
  
.img-ruble {
  display: inline-block;
}

.catalog-paginator {
  list-style: none;
}

.catalog-paginator li {
  display: inline-block;
}

.seo {
  background-color: #e4d6b7;
  background-image: url(../img/bg-vaffle.jpg);
  border-radius: 15px;
  color: #323232;
  font-size: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 24px;
  margin: 0 2.3%;
  margin-bottom: 20px;  
}

.seo-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  padding-top: 24px;
  margin-bottom: 0;
  white-space: pre-wrap;  
}

.seo-paragraph {
  position: relative;
  box-sizing: border-box;
  width: 48.7%;
  font-size: 16px;
  line-height: 22px;
  padding-left: 55px;
  padding-top: 22px;
  vertical-align: top;
  margin: 0;
}

.seo-group .seo-paragraph:first-child {
  float: left;
}

.seo-group .seo-paragraph:last-child {
  float: right;
}

.seo-paragraph:before {
  position: absolute;
  content: '';
	top: 10px;
	left: 0;
  width: 47px;
	height: 47px;
}

.seo-top .seo-paragraph:first-child:before {
  background: url(../img/icecream.png) no-repeat center center;
}

.seo-top .seo-paragraph:last-child:before {
  background: url(../img/cow.png) no-repeat center center;
}

.seo-bottom .seo-paragraph:first-child:before {
  background: url(../img/leaf.png) no-repeat center center;
}

.seo-bottom .seo-paragraph:last-child:before {
  background: url(../img/thermo.png) no-repeat center center;
}

.news-subsrcibe-container {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 2.3%;
}

.news {
  float: left;
  box-sizing: border-box;
  width: 48.9%;
  height: 220px;
  background: #ffffff url(../img/bg-strawberry.jpg) no-repeat;
  border-radius: 15px;
  padding: 22px 20px;
}

.news h2 {
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding-bottom: 5px;
}

.news a {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.subscribe-container {
  float: right;
  box-sizing: border-box;
  width: 48.9%;
  height: 220px;
  background: #ffffff url(../img/bg-post.png) repeat;
  border-radius: 15px;
}

.subscribe {
  box-sizing: border-box;
  width: auto;
  height: 210px;
  background-color: #f8f7f4;
  border-radius: 11px;
  margin: 5px;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 22px;
  padding-right: 20px;
}

.subscribe p {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  margin: 0;
  min-height: 100px;
}

.form-container {
  position: relative;
}

.form-container-left {
  padding-right: 169px;
}

.form-container-left input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  padding: 9px 12px;
  font-size: 16px;
  line-height: 24px;
  margin-right: 6px;
}

.form-container-right {
  position: absolute;
  top: 0;
  right: 0;
}

.map {
  width: 100%;
  height: 429px;
  background: #ffffff url(../img/map.jpg) no-repeat center center;
  margin-top: 20px;
}

.contacts {
  float: right;
  margin-right: 20px;
  margin-top: 60px;
  background-color: #fefefe;
  border-radius: 15px;
  color: #000000;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

.contacts p {
  font-size: 14px;
  line-height: 20px;
}

.contacts-phone, .contacts-addr {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

.contacts .btn {
  display: block;
  margin-top: 25px;
}

/*
        <div class="feedback-popup">
          <form action="#" method="post">
            <div class="feedback-text">Мы обязательно вам ответим!</div>
            <input type="text" name="name" placeholder="Как вас зовут?">
            <input type="text" name="email" placeholder="Ваша почта для ответа">
            <textarea rows="5" name="text" placeholder="Напишите что-нибудь..."></textarea>
            <button class="btn" type="submit" name="send">Отправить</button>
          </form>
        </div>
*/

.feedback-popup {
  position: fixed;
  display: none;
  background-color: #eeeeee;
  border-radius: 15px;
  color: #000000; 
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.feedback-popup form {}
.feedback-text {}

.feedback-popup input {
  display: inline-block;
}

.feedback-popup textarea {
  display: inline-block;
}

.feedback-popup .btn {}


footer {
  text-align: center;
  min-height: 100px;
  font-size: 14px;
  padding-top: 20px;
}

.footer-social {
  float: left;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  list-style: none;  
  font-size: 0;
}

.footer-social li {
  display: inline-block;
}

.btn-social {
  display: inline-block;
  width: 32px;
  height: 32px;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin-right: 12px;
}

.btn-social-twitter {
  background: url(../img/social-twitter.png) no-repeat 50% 50%;
}

.btn-social-instagram {
  background: url(../img/social-insta.png) no-repeat 50% 50%;
}

.btn-social-fb {
  background: url(../img/social-fb.png) no-repeat 50% 50%;
}

.btn-social-vk {
  background: url(../img/social-vk.png) no-repeat 50% 50%;
}
 
.footer-info {
  display: inline-block;
  max-width: 350px;
  margin: 0 auto;
  padding-top: 10px;  
}

.footer-info-left {
  display: inline-block;
  text-align: left;
  margin-right: 10px;
}

.information-for-vendors {
}

.footer-info-right {
  display: inline-block;
  text-align: left;
}

.footer-copyright {
  float: right;
  font-size: 12px;
}

.footer-copyright img {
  display: block;
}